.container {
  margin-bottom: 100px;
}
.circle1 {
  background-color: rgb(255, 251, 30);
  opacity: 20%;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-20%, -60%);
  width: 1500px;
  height: 1500px;
  z-index: -1;
}
.reward-details {
  margin-top: 20px;
}
.discount-offers {
  margin-top: 20px;
}
.discount-offers ul {
  list-style-type: disc;
  margin-left: 20px;
}
.discount-offers li {
  margin-bottom: 10px;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  background-color: rgb(0, 37, 93);
  border-radius: 10px;
  color: aliceblue;
}






