<div class="container">
  <div class="circle1"></div>
  <div class="row">
      <div class="col-lg-6 col-xl-5">
          <div class="image-container" style="margin-top: 100px;">
              <img class="img-fluid" src="assets/images/rewards.png" alt="alternative" style="width: 400px; " />
          </div>
      </div>
      <div class="col-lg-6 col-xl-7">
          <div class="text-container" style="margin-top: 60px;">
              <div class="card">
                  <div class="card-body">
                      <h3 class="card-title">GoPayWallet Reward System</h3>
                      <p class="card-text">Make payments using GoPayWallet and earn exciting rewards!</p>
                      <div class="reward-details">
                          <p>For every transaction:</p>
                          <ul>
                              <li>Earn reward points based on the transaction amount.</li>
                              <li>Redeem reward points for discounts on your future payments.</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="card" style="margin-top: 40px;">
                  <div class="card-body">
                      <h3 class="card-title">Discount Offers:</h3>
                      <div class="discount-offers">
                          <ul>
                              <li>If your reward points are below 200, you get a 10% discount on your next payment.
                              </li>
                              <li>If your reward points are greater than 200, you get a 20% discount on your next
                                  payment.
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <p style="margin-top: 20px; font-weight: bold; color: red;">Start using GoPayWallet now to avail of
                  these amazing rewards!</p>
          </div>
      </div>
  </div>
</div>
